@import '../styles/var.scss';

.card {
  background: #ffffff;
  margin-top:2rem;
  padding: .5rem;
  border-radius: .4rem;
  box-shadow: 1px 2px 20px -10px rgba(0,0,0,.5);

  display: grid;
  grid-template-columns: repeat(3, 1fr) 3rem;
  align-items: center;
  // justify-content: space-between;
}

.input {
  border: none;
  background: transparent;
  font-size: .9rem;
  text-align: center;
}

.checkbox {
  div {
    text-align: center;
    display: block;
    border-radius: .3rem;
    margin: 1rem;
    padding: .3rem 0;
    transition: ease .5s all;
    background: rgba($white, .7);
    cursor: pointer;
    &:hover {
      background: $white;
    }
  
  }
  input {
    display: none;
    &:checked + div{
      transition: ease .5s all;
      background: $success ;
      color: $white;
      &:after {
        transition: ease .5s all;
      }
      &:before {
        transition: ease .5s all;
      }
    }
  }
  
}

.btn {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
  
  svg {
    fill: $danger;
  }

  &:hover {
    svg {
      fill: rgba($danger, .8);
    }
  }
}