@import '../styles/var.scss';

.card {
  background: #ffffff;
  margin-top:2rem;
  padding: .5rem;
  border-radius: .4rem;
  box-shadow: 1px 2px 20px -10px rgba(0,0,0,.5);

  display: grid;
  grid-template-columns: repeat(3, 1fr) 3rem;
}

.input {
  border: none;
  background: transparent;
  font-size: .9rem;
  text-align: center;
}

.btn {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
  
  svg {
    fill: $danger;
  }

  &:hover {
    svg {
      fill: rgba($danger, .8);
    }
  }
}